:root{

--title-font: "Orbitron", sans-serif;
--text-font: "Blinker", sans-serif;


--color-1:#03045E;
--color-2:#023E8A;
--color-3:#0077B6;
--color-4:#0096C7;
--color-5:#00B4D8;
--color-6:#48CAE4;
--color-7:#90E0EF;
--color-8:#ADE8F4;
--color-9:#CAF0F8;



}